<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <% if (user) { %>
    <h1>Cars and Motorcycles!!!</h1>
    <form action="/vehicles" method="POST">
      <label>
        Year: 
        <input type="text" name="name" autocomplete="off">
      </label>
        Make: 
        <input type="text" make="make" autocomplete="off">
      </label>
        Model: 
        <input type="text" model="model" autocomplete="off">
      </label>
        Color: 
        <input type="text" color="color" autocomplete="off">
      </label>
      <label>
        Fast:
        <input type="checkbox" name="fast">
      </label>
      <button type="submit">Add Vehicle</button>
    </form>
  <% } %>
  <h2>All recent vehicle searches!</h2>
	<ul>
  <% vehicles.forEach(vehicle => { %>
    <li>🌮 <%= vehicle.name %> is <%= vehicle.tasty ? 'fast' : 'not fast' %></li>
  <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>